* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/fondo2.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    background-color: #ffe0b2a9; /* Color naranja claro */
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    margin-bottom: 10px;
    color: #bf360c; /* Color marrón oscuro */
    text-align: center;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

p {
    margin-bottom: 20px;
    color: #e65100; /* Color naranja oscuro */
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #e65100; /* Color naranja oscuro */
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffa726; /* Color naranja medio */
    border-radius: 5px;
    background-color: #fffde7; /* Color amarillo muy claro */
    transition: background-color 0.3s, border-color 0.3s;
}

input:focus {
    border-color: #fb8c00; /* Color naranja intenso */
    background-color: #ffecb3; /* Color amarillo más intenso */
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #e65100; /* Color naranja oscuro */
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #bf360c; /* Color marrón oscuro */
    transform: translateY(-3px);
}